/* 드랍다운 전체와 1번째 블럭 */
header .dropdown {
  position: fixed;
  top: 110px;
  left: 0;
  width: 100%;
  display: none;
}
header .dropdown > div:first-of-type {
  background-color: #333;
  padding: 20px 0;
}
header .dropdown > div:first-of-type ul {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
header .dropdown > div:first-of-type h4 {
  color: #fff;
  font-size: 14px;
  margin-bottom: 7px;
}
header .dropdown > div:first-of-type li {
  color: #999;
  font-size: 13px;
}
header .dropdown > div:first-of-type li:hover {
  color: #669900;
}
header .dropdown > div:first-of-type .inner {
  display: flex;
}


/* 드랍다운의 2번째 블럭 */
header .dropdown > div:last-of-type {
  background-image: url("/images/main_menu_pattern.jpg");
  color: #fff;
  padding: 25px 0;
  font-size: 11px;
}
header .dropdown > div:last-of-type .inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
header .dropdown .text h4 {
  font-weight: 700;
  color: #656565;
  margin-bottom: 10px;
}
header .dropdown .text p {
  color: #669900;
}


/* 우측 배지 */
#badges {
  position: fixed;
  right: 10px;
  top: 150px;
}
#badges img {
  display: block;
  margin-bottom: 10px;
  border-radius: 7px;
  cursor: pointer;
}