/* 헤더 영역 */
header {
  background-color: #f6f5f0;
  width: 100%;
  height: 110px;
  position: sticky;
  top: 0;
  z-index: 10;
}
header img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 70px;
}


/* 서브 메뉴 */
header .sub-menu {
  position: absolute;
  display: flex;
  top: 10px;
  right: 0;
  font-size: 13px;
}
header .sub-menu li {
  padding-top: 8px;
}
header .sub-menu li:last-of-type {
  padding-top: 0;
}
header .sub-menu a {
  text-transform: capitalize;
  color: #656565;
}
header .sub-menu li::before {
  content: "|";
  color: #e5e5e5;
  padding: 0 10px;
}
header .sub-menu li:first-of-type::before,
header .sub-menu li:last-of-type::before {
  content: "";
  padding: 0 7px;
}
header .sub-menu .search {
  position: relative;
}


/* 서브 메뉴의 검색창 */
header .sub-menu input {
  width: 36px;
  height: 34px;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  outline: none;
  transition: .4s;
  padding-left: 7px;
  font-size: 11px;
}
header .sub-menu input:focus {
  width: 160px;
  border-color: #669900;
}
header .sub-menu .material-icons {
  position: absolute;
  top: 5px;
  right: 5px;
  transition: .4s;
}
header .sub-menu input:focus + .material-icons {
  opacity: 0;
}


/* 메인 메뉴 */
header .main-menu {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 14px;
}
header .main-menu .menu-name {
  padding: 10px 15px 25px;
  border-radius: 5px 5px 0 0;
  text-transform: uppercase;
  color: #333;
}
header .main-menu li:hover .menu-name{
  background-color: #333;
  color: #669900;
}
header .main-menu .menu-name:hover + .dropdown,
header .dropdown:hover {
  display: block;
}