/* notice section*/
#notice {
  height: 60px;
  background: linear-gradient(90deg, #333 56%, #f6f5f0 44%);
}
#notice :is(.inner, .left, .swiper-slide, .right) {
  display: flex;
  align-items: center;
  height: 100%;
}
#notice h3 {
  font-size: 17px;
  font-weight: 700;
}
#notice i {
  padding: 8px; 
  /* 토글 아이콘 살짝 주변을 눌러도 되게하려고 */
  font-size: 28px;
}
#notice .swiper-container {
  width: 460px;
  height: 100%;
  overflow: hidden;
}
#notice .swiper-container a {
  color: #fff;
}
#notice .left {
  width: 60%;
  color: #fff;
  gap: 30px;
}
#notice .right {
  width: 40%;
  color: #333;
  justify-content: flex-end;
  gap: 10px;
}