/* promotin section*/
#promotion {
  background-color: #f6f5f0;
  padding: 40px 0;
  overflow: hidden;
}
#promotion .swiper-container {
  width: calc(820px*3 + 20px); /* 이미지가로 820 여백 10 10 */
  height: 600px;
  transform: translateX(-490px);
  position: relative;
}
#promotion .swiper-slide {
  opacity: .4;
  position: relative;
}
#promotion .swiper-slide-active {
  opacity: 1; /* 중간에 있으면 -active가 붙음 */
}
#promotion .swiper-slide .btn {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
}

/* 페이지네이션 */
#promotion .swiper-pagination {
  /* 페이지네이션은 position absolute가 라이브러리에 이미있음*/
  bottom: 0;
}
#promotion .swiper-pagination-bullet {
  background-image: url('/images/promotion_slide_pager.png');
  background-color: transparent;
  width: 12px;
  height: 12px;
  outline: none;
}
#promotion .swiper-pagination-bullet-active {
  background-image: url('/images/promotion_slide_pager_on.png');
}

/* 좌우 버튼 */
#promotion :is(.swiper-prev, .swiper-next) {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  color: #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  outline: none;
  cursor: pointer;
  transition: .4s;
  transform: translateY(-20px); 
  /* swiper-container를 기준으로 상하 가운데정렬하고 살짝 위로올림 */
}
#promotion .swiper-prev {
  left: 31%;
}
#promotion .swiper-next {
  right: 31%;
}
#promotion :is(.swiper-prev, .swiper-next):hover {
  color: #fff;
  background-color: #333;
}