/* season-product section */
#season-product {
  height: 400px;
  background-image: url('/images/season_product_bg.jpg');
}
#season-product .floating {
  top: -200px;
  right: -20px;
}
#season-product .text-group {
  top: 120px;
  right: 90px;
}
#season-product .text-group img {
  display: block;
  margin-bottom: 10px;
}


/* 위치값 주는건 전부 앱솔루트 */
#season-product :is(.floating, .text-group),
#reserve-coffee :is(img, .text-group) {
  position: absolute;
}


/* reserve-coffee section */
#reserve-coffee {
  height: 400px;
  background-image: url('/images/reserve_bg.jpg');
}
#reserve-coffee img:first-child {
  top: 100px;
  left: 0;
}
#reserve-coffee .text-group {
  top: 0;
  left: 210px;
}
#reserve-coffee .text-group .btn {
  transform: translateY(230px);
}
#reserve-coffee img:last-child {
  top: 0;
  right: -20px;
}