/*  01 visual section  */
#visual {
  height: 646px;
  background: center url('/images/visual_bg.jpg');
}
#visual :is(.title, .btn, img) { position: absolute; }
#visual .title      { top: 88px;  left: -10px; }
#visual .title .btn { top: 260px; left: 172px; }
#visual .cup1.image { bottom: 0;  right: -47px; }
#visual .cup1.text  { top: 38px;  right: 171px; }
#visual .cup2.image { bottom: 0;  right: 162px; }
#visual .cup2.text  { top: 321px; right: 416px; }
#visual .spoon      { bottom: 0;  left: 275px; }
#visual .fade-in    { opacity: 0; }


/*  02 notice section  */
#notice {
  height: 60px;
  background: linear-gradient(90deg, #333 56%, #f6f5f0 44%);
}
#notice :is(.inner, .left, .swiper-slide, .right) {
  display: flex;
  align-items: center;
  height: 100%;
}
#notice h3 {
  font-size: 17px;
  font-weight: 700;
}
#notice i {
  padding: 8px; /* 아이콘 살짝 주변을 눌러도 토글 되게하려고 */
  font-size: 28px;
}
#notice .swiper-container {
  width: 460px;
  height: 100%;
  overflow: hidden;
}
#notice .swiper-container a {
  color: #fff;
}
#notice .left {
  width: 60%;
  color: #fff;
  gap: 30px;
}
#notice .right {
  width: 40%;
  color: #333;
  justify-content: flex-end;
  gap: 10px;
}


/*  03 promotion section 
    너무 길어서 별도의 파일에... 이거 하나만 80줄  */


/*  04 rewards section  */
#rewards {
  height: 240px;
  display: flex;
}
#rewards :is(.bg-left, .bg-right, .btn:last-child) { flex-grow: 1; }
#rewards .bg-left   { background-color: #272727; }
#rewards .bg-right  { background-color: #d5c798; }
#rewards .inner     { background-image: url('/images/rewards.jpg'); }
#rewards .btn-group {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  position: absolute;
  right: 15px;
  bottom: 25px;
}
#rewards .btn:nth-child(2) { width: 110px; }


/*  05 youtube section  */
#youtube {
  background-color: #333;
  position: relative;
  overflow: hidden;
} 
#youtube .cover {
  background-image: url('/images/video_cover_pattern.png');
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
#youtube #player {
  width: 100%;
  height: 650px;
  background-color: orange;
  margin: auto;
  transform: scale(1.4);
}
#youtube .floating {
  position: absolute;
  z-index: 2;
}
#youtube .floating:first-of-type { top: 50px;  left: 200px; }
#youtube .floating:last-of-type  { top: 350px; left: 350px; }


/*  06 season-product section  */
#season-product {
  height: 400px;
  background-image: url('/images/season_product_bg.jpg');
}
#season-product .floating {
  top: -200px;
  right: -20px;
}
#season-product .text-group {
  top: 120px;
  right: 90px;
}
#season-product .text-group img {
  display: block;
  margin-bottom: 10px;
}
#season-product :is(.floating, .text-group) {
  position: absolute;
}


/*  07 reserve-coffee section  */
#reserve-coffee {
  height: 400px;
  background-image: url('/images/reserve_bg.jpg');
}
#reserve-coffee img:first-child       { top: 90px; left: 0; }
#reserve-coffee img:last-child        { top: 0;    right: -20px; }
#reserve-coffee .text-group           { top: 0;    left: 210px; }
#reserve-coffee .text-group .btn      { transform: translateY(230px); }
#reserve-coffee :is(img, .text-group) { position:  absolute; }


/*  08 pick-your-favorite section  */
#pick-your-favorite {
  background-image: url('/images/favorite_bg.jpg');
}
#pick-your-favorite .text-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
  width: 370px;
  padding: 100px 0;
  transform: translateX(80px);
}

/* 08 09 섹션 배경 공통점 */
#pick-your-favorite,
#reserve-store {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  /* 넓은너비에 맞추고 요소가 스크롤되어도 딸려올라가지 않고 고정 */
}

/*  09 reserve-store section  */
#reserve-store {
  background-image: url('/images/reserve_store_bg.jpg');
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#reserve-store .medal {
  width: 334px;
  height: 334px;
  perspective: 500px;
}
#reserve-store .medal :is(.front, .back) {
  transition: 1s;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
}
#reserve-store .back .btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  margin: auto;
}
#reserve-store .medal .front       { transform: rotateY(0deg); }
#reserve-store .medal:hover .front { transform: rotateY(180deg); }
#reserve-store .medal .back        { transform: rotateY(-180deg); }
#reserve-store .medal:hover .back  { transform: rotateY(0deg); }


/*  10 find-store section  */
#find-store { 
  background-color: #e8e8e8; 
  height: 420px;
}
#find-store :is(.texture, .picture, .text-group) { position: absolute; }
#find-store .picture        { border-radius: 50%; }
#find-store .picture1       { top: -60px; left: 0; }
#find-store .picture2       { top: 150px; left: 250px; }
#find-store .texture1       { top: 0;     left: 400px; }
#find-store .texture2       { bottom: 0;  right: 10px; }
#find-store .text-group     { top: 130px; right: 160px; }
#find-store .text-group img { 
  margin-bottom: 20px; 
  display: block; 
}


/*  11 awards section  */
#awards {
  background-color: #272727;
}
#awards .inner {
  padding: 40px 0;
  width: 870px;
}
#awards .swiper-container {
  overflow: hidden;
  height: 40px;
}
#awards :is(.swiper-prev, .swiper-next) {
  color: #fff;
  border-color: #fff;
  opacity: .3;
}
#awards :is(.swiper-prev, .swiper-next):hover {
  color: #333;
  background-color: #fff;
}
#awards .swiper-prev { left: -110px; }
#awards .swiper-next { right: -110px; }