/* visual section */
#visual {
  height: 646px;
  background-image: url('/images/visual_bg.jpg');
  background-position: center;
}
#visual :is(.title, .btn, img) { position: absolute; }
#visual .title      { top: 88px;  left: -10px; }
#visual .title .btn { top: 260px; left: 172px; }
#visual .cup1.image { bottom: 0;  right: -47px; }
#visual .cup1.text  { top: 38px;  right: 171px; }
#visual .cup2.image { bottom: 0;  right: 162px; }
#visual .cup2.text  { top: 321px; right: 416px; }
#visual .spoon      { bottom: 0;  left: 275px; }
#visual .fade-in    { opacity: 0; }