#youtube {
  background-color: #333;
  position: relative;
  overflow: hidden;
} 
#youtube .cover {
  background-image: url('/images/video_cover_pattern.png');
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
#youtube #player {
  width: 100%;
  height: 650px;
  background-color: orange;
  margin: auto;
  transform: scale(1.4);
}
#youtube .floating {
  position: absolute;
  z-index: 2;
}
#youtube .floating:nth-of-type(1) {
  top: 50px;
  left: 200px;
}
#youtube .floating:nth-of-type(2) {
  top: 350px;
  left: 350px;
}
#youtube .floating:nth-of-type(3) {
  bottom: -200px;
  right: 200px;
}