/* 공통 */
* {
  box-sizing: border-box;
  margin: 0;
}
.inner {
  width: 73%;
  height: 100%;
  margin: auto;
  position: relative;
}
a {
  text-decoration: none;
}
body {
  height: 3000px;
}
.btn {
  display: block;
  width: 130px;
  padding: 12px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
  transition: .4s;
}
.btn:hover,
.btn.btn--reverse {
  color: #fff;
  background-color: #333;
}
.btn.btn--reverse:hover {
  background-color: transparent; /*투명함*/
  color: #333;
}
.btn.btn--brown {
  color: #592b18;
  border-color: #592b18;
}
.btn.btn--brown:hover {
  color: #fff;
  background-color: #592b18;
}
.btn.btn--gold {
  color: #d9aa8a;
  border-color: #d9aa8a;
}
.btn.btn--gold:hover {
  color: #fff;
  background-color: #d9aa8a;
}
.btn.btn--white {
  color: #fff;
  border-color: #fff;
}
.btn.btn--white:hover {
  color: #333;
  background-color: #fff;
}


/* 헤더 영역 */
header {
  background-color: #f6f5f0;
  width: 100%;
  height: 110px;
  position: sticky;
  top: 0;
  z-index: 1;
}
header img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 70px;
}


/* 서브 메뉴 */
header .sub-menu {
  position: absolute;
  display: flex;
  top: 10px;
  right: 0;
  font-size: 12px;
}
header .sub-menu li {
  padding-top: 8px;
}
header .sub-menu li:last-of-type {
  padding-top: 0;
}
header .sub-menu a {
  text-transform: capitalize;
  color: #656565;
}
header .sub-menu li::before {
  content: "|";
  color: #e5e5e5;
  padding: 0 10px;
}
header .sub-menu li:first-of-type::before,
header .sub-menu li:last-of-type::before {
  content: "";
  padding: 0 7px;
}
header .sub-menu .search input {
  width: 30px;
  height: 28px;
  border: 1px solid #656565;
  border-radius: 5px;
  outline: none;
  transition: 0.4s;
  padding-left: 7px;
  font-size: 11px;
}
header .sub-menu .search input:focus {
  width: 160px;
  border-color: #669900;
}

/* 메인 메뉴 */
header .main-menu {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  text-transform: uppercase;
  font-size: 13px;
}
header .main-menu .menu-name {
  padding: 10px 15px 25px;
  border-radius: 5px 5px 0 0;
  color: #333;
}
header .main-menu li:hover .menu-name{
  background-color: #333;
  color: #669900;
}
header .main-menu .menu-name:hover + .dropdown,
header .dropdown:hover {
  display: block;
}


/* 드랍다운 전체와 1번째 블럭 */
header .dropdown {
  position: fixed;
  top: 110px;
  left: 0;
  width: 100%;
  display: none;
}
header .dropdown > div:first-of-type {
  background-color: #333;
  padding: 20px 0;
}
header .dropdown > div:first-of-type ul {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
header .dropdown > div:first-of-type h4 {
  color: #fff;
  font-size: 13px;
  margin-bottom: 10px;
}
header .dropdown > div:first-of-type li {
  color: #656565;
  font-size: 12px;
}
header .dropdown > div:first-of-type li:hover {
  color: #669900;
}
header .dropdown > div:first-of-type .inner {
  display: flex;
}

/* 드랍다운의 2번째 블럭 */
header .dropdown > div:last-of-type {
  background-image: url("./images/main_menu_pattern.jpg");
  color: #fff;
  padding: 25px 0;
  font-size: 11px;
}
header .dropdown > div:last-of-type .inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
header .dropdown .text h4 {
  font-weight: 700;
  color: #656565;
  margin-bottom: 10px;
}
header .dropdown .text p {
  color: #669900;
}


/* 우측 배지 */
.badges {
  position: fixed;
  right: 10px;
  top: 150px;
}
.badges img {
  display: block;
  margin-bottom: 10px;
  border-radius: 7px;
  cursor: pointer;
}


/* visual section */
#visual {
  height: 646px;
  background-image: url('images/visual_bg.jpg');
  background-position: center;
}
#visual .inner * {
  position: absolute;
}
#visual .title {
  top: 88px;
  left: -10px;
}
#visual .title .btn {
  top: 260px;
  left: 172px;
}
#visual .cup1.image {
  bottom: 0;
  right: -47px;
}
#visual .cup1.text {
  top: 38px;
  right: 171px;
}
#visual .cup2.image {
  bottom: 0;
  right: 162px;
}
#visual .cup2.text {
  top: 321px;
  right: 416px;
}
#visual .spoon {
  bottom: 0;
  left: 275px;
}
#visual .fade-in {
  opacity: 1;
}